

.div{
    background-color: blue;
}

td{
    width: 40px;
    height: 40px;
    background: rgb(126, 122, 122);
    font-size: 40px;
    text-align: center;
    border-radius: 50px;
    padding: 15px 20px;
}

input [type="button"] {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;

}

input[type="text"]
{
border-radius: 10px;
text-align: right;
background-color:rgb(126, 122, 122);
color: white;
border-color: rgb(126, 122, 122);
width:100%
}